
.fa-shopping-cart{
    display:inline-flex;
    background: #333;
    border-radius: 50px;
    margin: 15px;
}

.fa-shopping-cart img{
    width: 30px;
    margin: 10px;
    
}
span{
    color: darkred;
    font-size: 20px;
    font-weight: 600;
}