div .card-item{
    width: 300px;
    border: 2px solid #ababab;
    display: inline-block;
    margin: 0px 10px 10px 5px;
    box-shadow: 1px 1px 5px #0000002b;
    text-align: center;
    background: whitesmoke;
}

.card-item > img {
    width: 295px;
    height: 400px;
    object-fit: cover;
}

.container-card-data {
    float: left;
    width: 100%;
    padding: 10px;
}

.container-card-data .Title-card {
    font-size: 27px;
    letter-spacing: 1.5px;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 10px;
}

.container-card-data p {
    font-size: 17px;
    font-weight: 400;
}

