.MuiBox-root .active:not(.cart, .contact)::after {
  content: '';
  height: 2px;
  width: 25%;
  margin: 0 auto;
  background-color: #bf16;
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
}


.img-hover{
  display: block;
  padding-top: 125%;
  position: relative;
}
.img-hover .main-image{
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
}
.img-hover .hover-image{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  transition: all 0.2s linear;
}
.img-hover:hover .hover-image{
  opacity: 1;  
}

.MuiDivider-root{ list-style-type: none;}

.shop-form p {
  color: #bf1650;
  margin: 6px 0 0;
  font-size: 14px;
}

.shop-form  p::before {
  display: inline;
  content: "⚠ ";
}


.table-body tr:nth-of-type(odd) td{
  background-color: rgba(0, 0, 0, .05);
}